<div class="main-certificates-div">
    <div class="knowledge-title">
        <h2>Certificates</h2>
    </div>
    <div class="certificates-arrows-div">
        <div class="arrows-content-div">
            <p> < </p>
        </div>
        <div class="arrows-content-div">
            <p> > </p>
        </div>
    </div>
    <div class="certificates-info-div-short">
        <% for( let i = 0; i < 3; i++ ) {%>
            <div class="certificate-div">
                <div class="certificate-img">
                    <img src='/images/certificates/<%= certificates[i].image %>' alt="">
                </div>
                <div class="certificate-name-year-div">
                    <h6>
                        <%= certificates[i].name %>
                    </h6>
                    <p>
                        ( <%= certificates[i].year %> )
                    </p>
                </div>
            </div>
            <% } %>
            <div class="see-more-div">
                <p id="see-more">See more...</p>
            </div>
    </div>
    <div class="certificates-info-div-long-hidden">
        <% for( let i = 0; i < certificates.length ; i++ ) {%>
            <div class="certificate-div">
                <div class="certificate-img">
                    <img src='/images/certificates/<%= certificates[i].image %>' alt="">
                </div>
                <div class="certificate-name-year-div">
                    <h6>
                        <%= certificates[i].name %>
                    </h6>
                    <p>
                        ( <%= certificates[i].year %> )
                    </p>
                </div>
            </div>
            <% } %>
            <div class="see-more-div">
                <p id="see-less">See less...</p>
            </div>
    </div>
</div>