<div class="main-certificates-div">
    <div class="certificates-title">
        <h2>Certificates</h2>
    </div>

    <div class="certificates-container">
        <!-- Short -->
        <div class="certificates-info-div-short">
            <% for( let i=0; i < 3; i++ ) {%>
                <div class="certificates-div">
                    <div class="certificates-img">
                        <img src='/images/certificates/<%= certificates[i].image %>' alt="">
                    </div>
                    <div class="certificates-name-year-div">
                        <h6>
                            <%= certificates[i].name %>
                        </h6>
                        <p>
                            ( <%= certificates[i].year %> )
                        </p>
                    </div>
                </div>
                <% } %>
                    <div class="certificates-see-more-div">
                        <p id="certificates-see-more">See more...</p>
                    </div>
        </div>
        <!-- Arrows -->
        <div class="certificates-arrows-div">
            <div class="certificates-arrows-content-div">
                <p> &lt; </p>
            </div>
            <div class="certificates-arrows-content-div">
                <p> &gt; </p>
            </div>
        </div>
        <!-- Long -->
        <div class="certificates-scroll-container">
            <div class="certificates-info-div-long-hidden">
                <% for( let i=0; i < certificates.length ; i++ ) {%>
                    <div class="certificates-div">
                        <div class="certificates-img">
                            <img src='/images/certificates/<%= certificates[i].image %>' alt="">
                        </div>
                        <div class="certificates-name-year-div">
                            <h6> <%= certificates[i].name %> </h6>
                            <p>( <%= certificates[i].year %> )</p>
                        </div>
                    </div>
                    <% } %>
                        <div class="certificates-see-more-div">
                            <p id="certificates-see-less">See less...</p>
                        </div>
            </div>
        </div>
    </div>


</div>
