<div class="main-projects-div">
    <div class="projects-title">
        <h2>projects</h2>
    </div>

    <div class="projects-info-div-long">
        <% for( let i=0; i < projects.length ; i++ ) {%>
            <div class="projects-div">
                <div class="projects-img">
                    <img src='/images/projects/<%=projects[i].image%>' alt="">
                </div>
                <div class="projects-name-year-div">
                    <div class="projects-name-year-content">
                        <h6>
                            <%= projects[i].name %>
                        </h6>
                        <p>( <%= projects[i].year %> )</p>
                    </div>
                    <div class="projects-git-link-div">
                        <i class="fa-brands fa-github" data-url="https://github.com/Nicolain12"></i>
                        <div class="projects-options">
                            <option data-url="<%=projects[i].client%>">Client Side</option>
                            <option data-url="<%=projects[i].server%>">Server Side</option>
                        </div>
                    </div>

                </div>
            </div>
            <% } %>
    </div>



</div>