<div class="main-projects-div">
    <div class="projects-title">
        <h2>projects</h2>
    </div>

    <div class="projects-info-div-long">
        <% for( let i=0; i < projects.length ; i++ ) {%>
            <div data-client="<%=projects[i].client%>" data-server="<%=projects[i].server%>" class="projects-div">
                <div class="projects-img">
                    <img src='/images/projects/<%=projects[i].image%>' alt="">
                </div>
                <div class="projects-name-year-div">
                    <h6>
                        <%= projects[i].name %>
                    </h6>
                    <p>( <%= projects[i].year %> )</p>
                </div>
            </div>
            <% } %>
    </div>



</div>